body {
    font-family: Arial, sans-serif;
    background: #f7f7fb;
    margin: 0;
    color: #222;
}

/* HEADER */
.site-header {
    background: #6c63ff;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.home-page .site-header {
    text-align: center;
}


.site-header h1 {
    margin: 0;
    font-size: 36px;
}

.site-header p {
    margin-top: 10px;
    font-size: 18px;
}

/* GRID LAYOUT */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
    align-items: stretch;
}

/* PRODUCT CARD */
.product-card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.2s;
  
}

.product-card .addtobasket-home {
    display: inline-block;
    margin-top: 15px;
    background: #6c63ff;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 12px;
}

.product-card .addtobasket-home:hover {
    background: #574fd6;
}


.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}

/* IMAGE */
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


/* TEXT */
.product-link {
    text-decoration: none;
    color: #222;
}

.product-link:hover {
    color: #6c63ff;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #6c63ff;
}

.description {
    font-size: 14px;
    line-height: 1.5;
}

/* BUTTON */
.button {
    display: inline-block;
    margin-top: 15px;
    background: #6c63ff;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: #574fd6;
}



.header-button {
    background: white;
    color: #6c63ff;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    position:absolute;
    left: 20px;
}

.header-button:hover {
    background: #d0d0d0;
}

.top-bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-left {
    flex: 1;
    text-align: left;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-right {
    flex: 1;
    text-align: right;
}

.home-page .top-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .basket-link {
    position: absolute;
    right: 20px;
}

.basket-link {
    background: white;
    color: #6c63ff;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
}

.basket-link:hover {
    background: #d0d0d0;
}

.back-link {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    color: #d0d0d0;
}

.single-product {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.single-product img {
    width: 100%;
    max-width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
}

.basket-form {
    margin-top: 20px;
}

.basket-form input {
    width: 70px;
    padding: 8px;
    margin: 0 10px;
}

.basket-page {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.basket-item {
    display: grid;
    grid-template-columns: 150px 1fr auto;
    gap: 20px;
    align-items: center;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.basket-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.basket-summary {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.empty-basket {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.remove-button {
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: #d7d7d7;
}

.remove-button:hover {
    background: #f78784;
}


.sort-grid {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
}

.search-form,
.sort-form{
    display:flex;
    gap: 6px;
    align-items: center;
}

.checkout-page {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.checkout-form input,
.checkout-form textearea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
}

.checkout-form button,
.checkout-button {
    background: #6c63ff;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.checkout-form button,
.checkout-button:hover {
    background: #574fd6;
}

.basket-page .clear-basket-button {
    background: #6c63ff;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.basket-page .clear-basket-button:hover {
    background: #574fd6;
}


.error {
    color: red;
    margin-top: 20px;
    font-weight: bold;
}

.success-page .back-link {
    color:#000000;
}

.reviews-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-box {
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-left: 5px solid #6c63ff;
    font-size: 14px;
    color: #333
}

.basket-form,
.review-form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.basket-form input,
.review-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.basket-form input[type="number"] {
    width: 70px;
}

.review-form input[name="review"] {
    width: 220px;
}

.review-form input[name="rating"] {
    width: 80px;
}

.basket-form button,
.review-form button {
    background: #6c63ff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.basket-form button:hover,
.review-form button:hover {
    background: #574fd6;
}

.hover-box {
    display: none;
    position: absolute;
    width: 260px;
    background: white;
    color: #222;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    z-index: 1000;
    font-size: 14px;
}

.hover-box h3 {
    margin-top: 0;
    color: #6c63ff;
}