<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="site-header">
    <h1>Login</h1>
    <a href="{{ url_for('galleryPage') }}" class="back-link">← Back to shop</a>
</header>
<main class="login-page">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" class = "login-form">
        <label>Username:</label>
        <input type="text" id="username" name="username" required>

        <label>Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
