<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="top-bar">
            <div>
                <h1>{{ product.name }}</h1>
                <a href="{{ url_for('galleryPage') }}" class="back-link">← Back to shop</a>
            </div>
            
            <a href="{{ url_for('basketPage') }}" class="basket-link">
                Basket ({{ basket_count }})
            </a>
        </div>
    </header>

    <main class="single-product">
        <div class="single-product-image">
            <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
        </div>
        
        <div class="single-product-info">
            <h2>{{ product.name }}</h2>
            <p class="price">£{{ "%.2f"|format(product.price) }}</p>
            <p>{{ product.description }}</p>
            <p class="impact">Impact: {{ product.impact }}/10</p>
            
            <form method="POST" class="basket-form">
                <input type="hidden" name="action" value="basket">

                <label>Quantity:</label>
                <input type="number" name="quantity" min="1" value="1">
                
                <button type="submit">Add to basket</button>
                <p> </p>
            </form>
            <form method="POST" class="review-form">
                <p> </p>
                <input type="hidden" name="action" value="review">

                <input type="text" name="review" placeholder="Write a Review">
                <input type="number" name="rating" min = "1" max="5">
                
                <button type="submit" >Add review!</button>
            </form>
        </div>
    </main>

    <h2>  Reviews:</h2>
    <div class="reviews-container">
        {% if reviews %}
            {% for r in reviews %}
                <div class="review-box">
                    <strong>{{ r.username }}</strong> ⭐{{ r.rating }}<br>{{ r.text }}
                </div>
            {% endfor %}
        {% else %}
            <p>No reviews yet. </p>
        {% endif %} 
    </div>
    <br>

    <form method="POST" action="{{ url_for('clear_reviews_item', itemId = product.id)}}">
        <button type="submit">Clear Reviews</button>
    </form>
 
</body>
</html>